@{
    ViewBag.Title = "Contacto";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>Paula Alejandra Ulate Medrano</h3>

    <address>
        Programación Avanzada Web<br />
        UNED<br />
        Julio 2025
    </address>

    <address>
        <strong>Support:</strong>   <a href="paulatecr@gmail.com>">Support@example.com</a><br />
    </address>
</main>