@{
    ViewBag.Title = "Home Page";
}

<main>
    <h2> Sistema de Bodega de Repuestos</h2>
    <h3> Proyecto 1 - Paula Ulate Medrano</h3>
    <p> Esta Aplicación Permite: Ingresar nuevo usuario, Ingresar nuevo Repuesto al Inventario, Solicitar Repuesto y Entrega de Repuesto.</p>
    
    <div class="form-container">
        <h1>Inicio de Sesión</h1>

        @if (ViewBag.Mensaje != null)
        {
            <p style="color: red; text-align: center;">@ViewBag.Mensaje</p>
        }

        @using (Html.BeginForm("Login", "Home", FormMethod.Post))
        {
            <label for="usuario">Usuario:</label>
            <input type="text" id="usuario" name="usuario" required />

            <label for="contrasena">Contraseña:</label>
            <input type="password" id="contrasena" name="contrasena" required />

            <button type="submit" class="button">Ingresar</button>
        }
    </div>

</main>